:root {
  /* TYPE */
  --type-face: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /* COLORS */
  --dark-gray: #2C3333;
  --dark-green: #395B64;
  --green: #A5C9CA;
  --light-green: #E7F6F2;
}

body {
  font-family: var(--type-face);
  background-color: var(--dark-green);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid limegreen; */
}

.container {
  min-height: 100vh;
}

.header {
  text-align: left;
  padding: 1rem;
  background-color: var(--dark-gray);
  color: var(--light-green);
}

main {
  max-width: 500px;
  margin: 0 auto;
}

.card {
  margin: 1rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--light-green);
}

.card-title {
  font-size: x-large;
  font-weight: bold;
  margin: 0 1rem;
}

.card-body {
  /* margin: 1rem; */
}

.piano {
  margin-top: 1rem;
  display: flex;
}

.white {
  width: 1rem;
  height: 4rem;
  background-color: #fff;
  outline: 1px solid #333;
}

.black {
  width: .7rem;
  height: 2.8rem;
  background-color: #333;
  margin-left: -.35rem;
  margin-right: -.35rem;
  z-index: 2;
  outline: 1px solid #333;
}

.active {
  background-color: limegreen;
}

.form-control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  width: 80%;
  margin-top: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-primary {
  background-color: #395B64;
  color: #fff;
}

.btn-primary:hover {
  background-color: #E7F6F2;
  color: #333;
}

.refresh-icon {
  display: inline;
  margin-left: 0.5rem;
  /* vertical-align: middle; */
  cursor: pointer;
}